$body-bg: #000;
$body-color: #ff312f;

@import "../bootstrap/scss/bootstrap";

html, body, main {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    background-image: url('/img/olomouc.png');
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    min-height: 100px;
    h1 {
        position: absolute;
        bottom: 10px;
        width: 100%;
        margin-bottom: 0;
    }
}

.items {
    flex-grow: 1;

    & > div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;

        &::before {
            content: "";
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background-color: rgba(0,0,0,0.3);
            -webkit-transition: all .5s;
            transition: all .5s;
        }
        &:hover::before {
            background-color: rgba(0,0,0,0.1);
        }

        h2, h3 {
            margin-bottom: 0;
            z-index: 1;
        }
        h2 {
            font-weight: bold;
        }
        h3 {
            font-size: 1.5rem;
            color: white;
        }
    }
}
